.heading_1_size {
  line-height: 1.33;
  font-size: 56px;
  text-transform: uppercase;
}

.heading_2_size {
  line-height: 1.25;
  font-size: 40px;
}

.heading_2_size_margin {
  line-height: 1.25;
  font-size: 40px;
  margin: 0 0 50px 0;
}

.heading_3_size {
  line-height: 1.25;
  font-size: 28px;
  padding-top: 20px;
}

.heading_3_size_large {
  line-height: 1.25;
  font-size: 40px;
}
