@import './../../../styles/_style.scss';

$button-shadow: 0 1px 4px 2px rgba(64, 64, 64, 0.08);

.button{
  padding:10px 40px;
  font-size: 12px;
  box-shadow: none;
  border: none;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 20px;
  outline: none;
  cursor: pointer;
}

.primary{
  background: $muks-blue;
  color: $muks-white;
}

.secondary{
  background: $muks-yellow;
  color: $muks-black;
}

.round{
  border-radius: 8px;
}

.square{
  border-radius: 0;
}

.pill{
  border-radius: 16px;
}