.wrapper_team {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-content: center;
  max-width: 1376px;
  flex-direction: column;
  background-color: green;
  height: 2000px;
}