$muks-black: #000000;
$muks-blue: #282A7E;
$muks-orange: #E0760D;
$muks-white: #ffffff;
$muks-yellow: #FEC302;
$muks-grey: #404040;
$muks-light-grey: #afafaf;


.black_text {
  color: $muks-black;
}

.blue_text {
  color: $muks-blue;
}

.orange_text {
  color: $muks-orange;
}

.white_text {
  color: $muks-white;
}

.yellow_text {
  color: $muks-yellow;
}

.light_grey_text {
  color: $muks-light-grey
}