@import '_colors.scss';
@import '_breakpoints.scss';
@import '_fonts.scss';

.wrapper {
  margin: auto;
  max-width: 1400px;
}

.wrapper-page {
  display: flex;
  margin: auto;
  max-width: 1376px;
  align-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.card-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 576px){
    justify-content: center;
  }
  @media (max-width:991px){
    justify-content: space-evenly;
  }
}

.navbar-background {
  border-top: 95px solid $muks-blue;
}

.m10 {
  margin: 10px;
}
