@import '_colors.scss';
@import '_breakpoints.scss';
@import '_fonts.scss';

.wrapper {
  margin: auto;
  max-width: 1400px;
}

.wrapper-page {
  display: flex;
  margin: auto;
  max-width: 1376px;
  align-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-shadow {
  box-shadow: 0 0 20px 8px #d0d0d0
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.m10 {
  margin: 10px;
}