.schedule-wrapper {
  width: 45vw;
  margin: auto;
  @media (max-width:991px){
    width: 95vw;
  }
}

.schedule-logo-box{
  width: 70px;
  padding-left: 50px;
    @media (max-width:576px){
      padding-left: 0;
  }
}

.schedule-logo {
  max-width: 100%;
  height: 50px;
}

.team-schedule {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  justify-content: space-between;
}

.team-schedule-border {
  border-bottom: 1px solid #CBCBCB;
}

.schedule-date {
  width: 100%;
  padding-right: 10px;
  min-width: 70px;
}

.team-schedule-name {
  display: flex;
  flex-direction: column;
  width: 250px;
}