@import './../../../styles/style';

.header-title {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;

}

.header-logo {
  height: 120px;
  width: 100%;
}