@import "../../../../styles/style";

.heading-homepage {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: $muks-blue;
  margin: 20px;
  @media (max-width:991px){
    font-size: 40px;
  }
}
