@import "../../../../styles/style";

.heading-homepage {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(45deg, $muks-blue 30%, $muks-yellow);
  color: transparent;
  background-clip: text;
  margin: 20px;
  @media (max-width:991px){
    font-size: 40px;
  }
}
