.wrapper-sponsors {
  width: 100%;
  margin: 40px 0 60px 0;
}

.sponsor-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sponsor-logo {
  width: 150px;
  // max-height: 100px;
  height: 100%;
}