@import './../../../../styles/style';

.default_text {
  margin: 0;
  padding: 10;
  line-height: 1;
  letter-spacing: 0;
  text-decoration: none;
  text-transform: none;
}

.inherit_size {
  font-size: inherit;
}

.inherit_font {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-transform: inherit;
}

.regular_size {
  font-size: 18px;
  margin: 20px 0;
}

.small_size {
  font-size: 16px
}

.extra_small_size {
  font-size: 14px
}

.ultra_small_size {
  font-size: 12px
}

.ultra_ultra_small_size {
  font-size: 8px
}

.large_size {
  font-size: 18px
}

.extra_large_size {
  font-size: 24px
}

.regular_line {
  line-height: 1.5;
}

.large_line {
  line-height: 2;
}