@import './../../../styles/_style.scss';

.contact-info {
  height: 800px;
  width: 100%;
  background-color: aqua;
  margin: 10px;
}

.contact-img {
  height: 800px;
  width: 100%;
  background-color: aquamarine;
  margin: 10px;
}