.home-page-layout-container {
  width: 50vw;
  height: 720px;
  @media (max-width:991px){
    width: 100vw;
  }
}

.home-page-layout-img {
  overflow:hidden;
  object-fit: cover
}

.home-page-layout-text {
  background-color: inherit;
}

.home-page-layout {
  margin-top: -4px;
}
