@import './../../../styles/_style.scss';

.home-image {
  width: 100%;
  margin: 40px 0;
}

.home-info {
  flex-direction: column;
  width: 60%;
  margin: 60px 0;
}

.home-schedule {
  flex-direction: column;
  width: 30%;
  margin: 60px 0;
}

.next-match {
  margin: 0 auto;
  width: 90%;
}

.schedule {
  margin: 20px auto;
  width: 90%;
  height: 600px;
}