.wrapper_home {
  display: flex;
  margin: auto;
  align-content: center;
  max-width: 1376px;
  flex-direction: column;
}

.home_image {
  width: 100%;
  margin: 40px 0;
}

.home_info {
  flex-direction: column;
  width: 60%;
  margin: 60px 0;
}

.home_schedule {
  flex-direction: column;
  width: 30%;
  margin: 60px 0;
}

.next_match {
  margin: 20px auto;
  width: 90%;
  height: 200px;

}

.schedule {
  margin: 20px auto;
  width: 90%;
  height: 600px;
}