@import './../../../styles/_style.scss';

.nextmatch-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  flex-direction: column;
}

.nextmatch-teams {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}