@import './../../../styles/_style.scss';

.next-match-container{
  background-color: $muks-blue;
}

.next-match-container-bar{
  background-color: $muks-blue-dark;
  padding: 5px;
}

.next-match-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-box {
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
  margin: auto;
  margin: 10px;
}

.countdown {
  margin: 10px;
}

.countdown-number {
  padding: 5px;
}

.countdown-text {
  padding: 5px;
}

.next-match-location {
  padding-bottom: 10px;
}
