body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color:#f2f2f2;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

/* Scrollbar styles */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb{
  background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:active{
  background: rgba(0,0,0,.9);
}
